@charset "UTF-8";

:root {
    --color0: #D9C7B8;
    --color1: #A6837B;
    --color2: #73463C;
    --color3: #260401;
    --color4: #0D0D0D;

    --default-font: Arial, Verdana, Helvetica, sans-serif;
    --prominent-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*'Trebuchet MS'*/
}

body {
    background-color: white;
}

main {
    margin: auto;
    padding: 20px;
    background-color: white;
}

main h2 {
    color: var(--color4);
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}

#social-media {
    text-align: center;
}

#other-infos {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#other-infos a {
    margin: 0 0 0 5px;
    text-decoration: none;
    color: var(--color4);
    font-weight: 500;
}

#other-infos a:hover {
    color: var(--color2);
    text-decoration: underline;
}

#between-contacts {
    margin: 0 10px;
}

main img {
    width: 50px;
    margin: 8px;
}

main iframe {
    border-radius: 5px;
    margin-top: 20px;
}

@media (max-width: 850px) {
    #other-infos  {
        flex-direction: column;
    }
    #between-contacts {
        margin: 10px 0;
    }
}
